.portfolio-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
  }
  
  .content-container {
    flex: 1;
  }
  
  .project-container {
    border: 1px solid #ddd; /* Add borders or any other styling for projects */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* .project-image {
    max-width: 100%;
    height: auto;
  } */

  .project-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .project-image {
    height: 200px; /* Set the desired height for your images */
    object-fit: cover; /* Preserve aspect ratio and cover the entire container */
  }